<div class="container-fluid">
  <div class="row" >
    <div class="col-md-10 col-12 mx-auto" >
        <div class="row  " >

            <div class="col-md-6 col-12 order-md-0 order-1 about-left d-flex justify-content-center align-items-start flex-column">
                <h1>Welcome To the world Of Raza Tech</h1>
                <p>Our aim is to provide high quality of software development plateform and services. come and join us</p>
                <button class="btn btn-primary"><a href="https://www.youtube.com/razatechtube">Read More</a></button>
            </div>
            <div class="col-md-6 col-12 order-md-1 about-right order-0">
                <figure>
                    <img class="about-img" src="/images/about.jpg" width="650" height="650" alt="About Image">
                </figure>
            </div>
        </div>
    </div>
  </div>
</div>